<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttershop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <div class="container">
        <header>
            <h1>logo</h1>
            <div class="nav-container">
                <div class="gnb gnb1">
                    <div class="search">
                        <!-- <input type="text" id="search"> -->
                        <a href="#">search</a>
                    </div>
                    <ul>
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">회원가입</a></li>
                        <li><a href="#">장바구니</a><span>0</span></li>
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul> 
                </div>
                <div class="gnb gnb2">
                    <ul>
                        <li><a href="#">BEST</a><span>|</span></li>
                        
                        <li><a href="#">REVIEW</a><span>|</span></li>
                        
                        <li><a href="#">MAGAZINE</a><span>|</span></li>
                        
                        <li><a href="#">SALE</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu">
              <ul>
                  <ul class="mainMenu"><a href="#">All</a></ul>
                  <ul class="mainMenu"><a href="#">Stationery & Plush</a>
                    <li>
                      <a href="#">인형</a>
                    </li>
                    <li>
                      <a href="#">문구</a>
                    </li>
                  </ul>
                  <ul class="mainMenu"><a href="#">Living</a>
                    <li>
                      <a href="#">패션</a>
                    </li>
                    <li>
                      <a href="#">홈데코</a>
                    </li>
                    <li>
                      <a href="#">패브릭</a>
                    </li>
                    <li>
                      <a href="#">쿠션</a>
                    </li>
                    <li>
                      <a href="#">캠핑</a>
                    </li>
                    <li>
                      <a href="#">가전</a>
                    </li>
                  </ul>
                  <ul class="mainMenu"><a href="#">Bath</a></ul>
                  <ul class="mainMenu"><a href="#">Party & Play</a>
                    <li>
                      <a href="#">파티</a>
                    </li>
                    <li>
                      <a href="#">게임</a>
                    </li>
                  </ul>
                  <ul class="mainMenu"><a href="#">Beauty & Fitness</a></ul>
                  <ul class="mainMenu"><a href="#">Food</a>
                    <li>
                      <a href="#">과자</a>
                    </li>
                    <li>
                      <a href="#">차류</a>
                    </li>
                  </ul>
                  <ul class="mainMenu"><a href="#">Daily Needs</a>
                      <li>
                        <a href="#">구강용품</a>
                      </li>
                      <li>
                        <a href="#">생활용품</a>
                      </li>
                  </ul>
              </ul>
            </div>
        </header>
        <hr>
        <div class="section1">
          <div class="swiper mySwiper1">
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide">
                    <a href="#"><img src="./images/banner1.jpg" alt="해피버터데이 여름 정기 클라이언스"></a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"><img src="./images/banner2.jpg" alt="이달의 신상품_낮잠배게필통"></a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"><img src="./images/banner3.jpg" alt="이달의 인기상품_아이스넥밴드 선풍기"></a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"><img src="./images/banner4.jpg" alt="이달의 신상품_포토카드인형,포토카드키링"></a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"><img src="./images/banner5.jpg" alt="이달의 인기상품_미니 휴대용 선풍기"></a>
                  </div>
                  <div class="swiper-slide">
                    <a href="#"><img src="./images/banner6.jpg" alt="시원한 여름 파자마 4종 출시"></a>
                  </div>
                  
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="section2">

          <div class="seasonStory">
            <h1>SEASON STORY</h1>
            <a href="#"><img src="./images/seasonstory1.jpg" alt=""></a>
            <a href="#"><img src="./images/seasonstory2.jpg" alt=""></a>
          </div>

          <div class="butterProduct">
            <h1>DAILY BUTTER</h1>
            <div class="dailyButter">
              <a href="#">
                <img src="./images/dailybutter01.jpg" alt="">
              </a>
            </div>

            <h2>
              가격은 DOWN, 퀄리티는 UP! <br>
              ONLY 데일리 마켓
            </h2>

            <div class="productList">
              <ul>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item1.jpg" alt="WOW 가족칫솔 모노핑크 9P세트">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">WOW 가족칫솔 모노핑크 9P세트</a>
                    </span>
                    <span class="price">
                      9,900원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item2.jpg" alt="면싱글 여삼각 4세트 100호-멜란지">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">면싱글 여삼각 4세트 100호-멜란지</a>
                    </span>
                    <span class="price">
                      9,900원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item3.jpg" alt="WOW 가족칫솔 대용량 23P세트">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">WOW 가족칫솔 대용량 23P세트</a>
                    </span>
                    <span class="price">
                      19,900원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item4.jpg" alt="WOW 초미세모 가족칫솔 9P세트">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">WOW 초미세모 가족칫솔 9P세트</a>
                    </span>
                    <span class="price">
                      9,900원
                    </span>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item5.jpg" alt="베이킹소다를 담은 세균닦는 행주 세정티슈 70매 캡형 (습식/엠보)">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">베이킹소다를 담은 세균닦는 행주 세정티슈 70매 캡형 (습식/엠보)</a>
                    </span>
                    <span class="original-price">
                      2,500원
                    </span>
                    <span class="price">
                      1,750원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item6.jpg" alt="DY 식빵수세미 4세트">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">DY 식빵수세미 4세트</a>
                    </span>
                    <span class="original-price">
                      5,900원
                    </span>
                    <span class="price">
                      4,130원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item7.jpg" alt="뒤꿈치 보습관리 힐삭스_그레이
                      ">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">뒤꿈치 보습관리 힐삭스_그레이
                      </a>
                    </span>
                    <span class="price">
                      3,900원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item8.jpg" alt="알뜰 패밀리 칫솔 23입">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">알뜰 패밀리 칫솔 23입</a>
                    </span>
                    <span class="price">
                      9,900원
                    </span>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item9.jpg" alt="여성용 덧신 4족세트 그레이">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">여성용 덧신 4족세트 그레이</a>
                    </span>
                    <span class="price">
                      4,900원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item10.jpg" alt="DY 다용도 슬링 걸이">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">DY 다용도 슬링 걸이</a>
                    </span>
                    <span class="price">
                      2,500원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item11.jpg" alt="세균닦는 기름때 찌든때 매직티슈 30매 캡형">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">세균닦는 기름때 찌든때 매직티슈 30매 캡형</a>
                    </span>
                    <span class="original-price">
                      2,500원
                    </span>
                    <span class="price">
                      1,750원
                    </span>
                  </div>
                </li>
                <li>
                  <div class="items">
                    <a href="#">
                      <img src="./images/item12.jpg" alt="쓰레기 비닐봉투 30리터 50매">
                    </a>
                  </div>
                  <div class="itemsDetail">
                    <span>
                      <a href="#">쓰레기 비닐봉투 30리터 50매</a>
                    </span>
                    <span class="original-price">
                      3,500원
                    </span>
                    <span class="price">
                      2,450원
                    </span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="productMore">
              <a href="#">
                <img src="./images/moreView.png" alt="moreView">
              </a>
            </div>

          </div>
        </div>

          <div class="section3">
            <h1>BUTTER NEWS</h1>
            <div class="butterNews">
              <div class="videoItem">
                <iframe  src="https://www.youtube.com/embed/pkaRCshhiAM" title="[버터샵] 소중한 나를 위해 '마이미모어(MY ME MORE)'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="videoItem">
                <iframe  src="https://www.youtube.com/embed/S_Od-qcPAkg" title="[버터샵] 지친 당신의 하루를 빛나게 하는 '마이밤(배쓰밤/oh, My Bomb)'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>

            <div class="snsItems">
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta1.jpg" alt="Buttershop 인스타그램 게시물_화사한 파스텔톤의 스프링노트 3종">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta2.jpg" alt="Buttershop 인스타그램 게시물_새로운 캐릭터 쿠키곰의 소개">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta3.jpg" alt="Buttershop 인스타그램 게시물_곰돌이 시럽단 모바일 배경화면">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta4.jpg" alt="Buttershop 인스타그램 게시물_버터패밀리 포토카드 키링, 버터패밀리 포토카드 인형">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta5.jpg" alt="Buttershop 인스타그램 게시물_버터패밀리 신제품">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta6.jpg" alt="Buttershop 인스타그램 게시물_버터패밀리의 새로운 캐릭터">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta7.jpg" alt="Buttershop 인스타그램 게시물_버터패밀리 낮잠베개필통">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta8.jpg" alt="Buttershop 인스타그램 게시물_시럽베어 우산">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta9.jpg" alt="Buttershop 인스타그램 게시물_스크래빗 원마일웨어(홈웨어)세트, 버터군 원마일웨어(홈웨어)세트">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta10.jpg" alt="Buttershop 인스타그램 게시물_버터패밀리 모바일 배경화면">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta11.jpg" alt="Buttershop 인스타그램 게시물_버터샵 여름파자마">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta12.jpg" alt="Buttershop 인스타그램 게시물_고아웃 캠프 페스티벌 버터샵 댓글이벤트">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta13.jpg" alt="Buttershop 인스타그램 게시물_넥밴드 선풍기 출시">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta14.jpg" alt="Buttershop 인스타그램 게시물_버터샵 6월 모바일 배경화면">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta15.jpg" alt="Buttershop 인스타그램 게시물_버터샵 노스트레스 팬츠 ">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta16.jpg" alt="Buttershop 인스타그램 게시물_피크닉을 좋아하는 사람들을 위한 우산텐트">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta17.jpg" alt="Buttershop 인스타그램 게시물_건대 커먼그라운드 버터샵">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta18.jpg" alt="Buttershop 인스타그램 게시물_핑크색 조개 모양의 다용도 스폰지">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta19.jpg" alt="Buttershop 인스타그램 게시물_버터샵 5월 모바일 배경화면">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta20.jpg" alt="Buttershop 인스타그램 게시물_피크피크 파라솔체어 댓글 이벤트">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta21.jpg" alt="Buttershop 인스타그램 게시물_피크피크 파라솔체어">
                  </a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">
                    <img src="./images/insta22.jpg" alt="Buttershop 인스타그램 게시물_3세대 아이스 넥밴드 선풍기 출시">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta23.jpg" alt="Buttershop 인스타그램 게시물_PARTY 미니파티빔 SET">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/insta24.jpg" alt="Buttershop 인스타그램 게시물_피크피크 신상시리즈">
                  </a>
                </li>
              </ul>
            </div>
            
          </div>

        
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper1", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          type: "progressbar",
        },
      });
    </script>

</body>
</html>