<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttershop 고객센터</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/sub01.css">
</head>
<body>
    <div class="container">

      <header>
        <a href="/">
          <h1>logo</h1>
        </a>
        <nav class="nav-container">
            <div class="gnb gnb1">
                <div class="search">
                    <!-- <input type="text" id="search"> -->
                    <a href="#">search</a>
                </div>
                <ul>
                    <li><a href="http://localhost:3500/login">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">장바구니</a><span>0</span></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="/sub01">고객센터</a></li>
                </ul>
            </div>
            <div class="gnb gnb2">
                <ul>
                    <li><a href="#">BEST</a><span>|</span></li>
      
                    <li><a href="#">REVIEW</a><span>|</span></li>
      
                    <li><a href="#">MAGAZINE</a><span>|</span></li>
      
                    <li><a href="#">SALE</a></li>
                </ul>
            </div>
        </nav>
        <nav class="menu">
          <ul class="mainMenu">
            <li><a href="#">All</a></li>
            <li><a href="#">Stationery & Plush</a>
              <ul class="subMenu">
                <li><a href="#">인형</a></li>
                <li><a href="#">문구</a></li>
              </ul>
            </li>
            <li><a href="#">Living</a>
              <ul class="subMenu">
                <li><a href="#">패션</a></li>
                <li><a href="#">홈데코</a></li>
                <li><a href="#">패브릭</a></li>
                <li><a href="#">쿠션</a></li>
                <li><a href="#">캠핑</a></li>
                <li><a href="#">가전</a></li>
              </ul>
            </li>
            <li><a href="#">Bath</a></li>
            <li><a href="#">Party & Play</a>
              <ul class="subMenu">
                <li><a href="#">파티</a></li>
                <li><a href="#">게임</a></li>
              </ul>
            </li>
            <li><a href="#">Beauty & Fitness</a></li>
            <li><a href="#">Food</a>
              <ul class="subMenu">
                <li><a href="#">과자</a></li>
                <li><a href="#">차류</a></li>
              </ul>
            </li>
            <li><a href="#">Daily Needs</a>
              <ul class="subMenu">
                <li><a href="#">구강용품</a></li>
                <li><a href="#">생활용품</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <hr>
      <section>
          <div class="tabs-container">
              <div class="tab-btns-box">
                  <ul class="tab-btns">
                      <li><a href="#">Notice</a></li>
                      <li><a href="#">이벤트</a></li>
                      <li><a href="#">FAQ</a></li>
                  </ul>
              </div>
              <div class="tab-contents-box">
                  <div class="tab-content tab-content01">
                      <ul class="Notice">
                          <li><a href="#">★ 8월 월페이퍼 ★</a><span>2022.08.02</span></li>
                          <li><a href="#">7월 월페이퍼</a><span>2022.06.27</span></li>
                          <li><a href="#">6월 월페이퍼</a><span>2022.05.30</span></li>
                          <li><a href="#">5월 월페이퍼</a><span>2022.05.03</span></li>
                          <li><a href="#">4월 월페이퍼</a><span>2022.03.31</span></li>
                          <li><a href="#">3월 월페이퍼</a><span>2022.03.03</span></li>
                      </ul>
                      <span class="more"><a href="#">+ 더보기</a></span>
                  </div>
                  <div class="tab-content tab-content02">
                      <ul class="event">
                          <li><a href="#">happy review contest</a><span>2022.04.01</span></li>
                          <li><a href="#">4월 리뉴얼 오픈기념</a><span>2022.04.01</span></li>
                          <li><a href="#">테스트 이벤트</a><span>2022.02.04</span></li>
                      </ul>
                      <span class="more"><a href="#">+ 더보기</a></span>
                  </div>
                  <div class="tab-content tab-content03">
                      <ul class="FAQ">
                          <li><a href="#">반품하고 싶은데 어떻게 하나요?</a><span>2022.08.02</span></li>
                          <li><a href="#">배송은 얼마나 걸리나요?</a><span>2022.07.30</span></li>
                          <li><a href="#">마일리지 적립은 얼마나 되나요?</a><span>2022.05.30</span></li>
                          <li><a href="#">결제 수단을 변경하고 싶어요.</a><span>2022.04.14</span></li>
                          <li><a href="#">주문정보를 변경하고 싶어요.</a><span>2022.03.25</span></li>
                      </ul>
                      <span class="more"><a href="#">+ 더보기</a></span>
                  </div>
              </div>
              <!-- <img src="/images/underBg.png" alt=""> -->
          </div>
      </section>

      <footer class="footerInfo">
        <p class="tel"><a  href="tel:1899-0811">1899-0811</a></p>
        <ul class="hours">
          <li>평일 10:00 - 16:00</li>
          <li>점심 12:00 - 13:00</li>
          <li>토/일/공휴일 휴무</li>
        </ul>
        <nav class="footerNav">
          <ul>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Stockist</a>
            </li>
            <li>
              <a href="#">Brand</a>
            </li>
            <li>
              <a href="#">Magazine</a>
            </li>
            <li>
              <a href="#">Notice</a>
            </li>
            <li>
              <a href="#">Review</a>
            </li>
            <li>
              <a href="#">Sale</a>
            </li>
            <li>
              <a href="#">Q&A</a>
            </li>
          </ul>
        </nav>
        <p class="companyInfo">
          상호명 : 주식회사 엠에이치앤코 | 대표 : 오상흔 | 서울특별시 구로구 경인로 662 (디큐브시티) 14층 엠에이치앤코 <br>
          buttershop@mhnco.co.kr | 개인정보보호 책임자 이효영 <br>
          통신판매업 신고번호 제 2017-서울구로-1368호 | 사업자등록번호 821-87-00617
        </p>
        <div class="footerNotice">
          <a href="#" class="footerLogo"><img src="./images/footerlogo.png" alt="버터샵로고"></a>
          <p class="notice">
            고객님은 안전거래를 위해 결제 시 저희 사이트에서 가입한 구매안전 서비스를 이용하실 수 있습니다.
          </p>
          <nav class="serviceGuide">
            <ul>
              <li>
                <a href="/sub02">이용안내</a>
              </li>
              <li>
                <a href="/sub02">이용약관</a>
              </li>
              <li>
                <a href="/sub02">개인정보처리방침</a>
              </li>
            </ul>
          </nav>
        </div>
        
      </footer>
      
    </div>

    <footer class="copyright">
      <p>BUTTER. 2021 All copyright reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/script/sub01.js"></script>
</body>
</html>