.container{width:100%;background-color: lemonchiffon; margin: auto;position: relative;}

/* header css */
    header{width: 80%; background-color: #fff;position: relative; left: 10%;}
    h1{width:300px; height: 60px; color:transparent;background:url(../images/logo.jpg); 
      background-repeat:  no-repeat; background-size: contain; position: relative; top: 40px;}
    
    .nav-container{display:block; border-radius: 20px;}
    .search{color: transparent; background-image: url(../images/search.png); background-position: 4px -4px;}
    .gnb{display: flex;justify-content: right; }
    .gnb>ul{display:flex; justify-content: right;}
    .gnb1 li{margin: 5px; font-size: 12px;}
    .gnb1 span{width: 5px; height: 5px; padding: 1px 5px; background-color: red; color:#fff; 
      border-radius: 50px; text-align: center;}
    .gnb2 li{font-weight : bold; font-size: 28px;position: relative;top:5px;}
    .gnb2 li>span{font-size: 20px;font-weight: 100; margin:0 10px;}
    

/* section1 */
    .section1{width: 80%; position:relative; left: 10%; background-color: #fff; }
    .menu{padding-top:50px; line-height: 50px; position:relative; z-index: 2; } 
    .menu>ul{display: flex; justify-content: right; }
    .mainMenu{font-size: 15px;font-weight: bold; letter-spacing: 0.5px;}
    .mainMenu>a{padding : 20px 35px 18px 35px;}
    .mainMenu a:hover{background-color: rgb(85, 85, 85); color: #fff;}
    .mainMenu li{display: none;  background-color: rgb(85, 85, 85); color: #fff; text-align:left; 
                font-size: 13px; line-height: 40px; }
    .mainMenu li>a{ padding : 10px 35px 10px 35px;}
    .mainMenu li>a:hover{text-decoration: underline;}
    .mainMenu:hover li{display: block; }
    

/* Swiper css */
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
        position: relative; z-index: 1;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper {
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-button-next:after, .swiper-button-prev:after{color: #fff;padding:30px;}

      /* .swiper-pagination-progressbar .swiper-pagination-progressbar-fill
      { background: var(--swiper-pagination-color,red);} */

      :root {--swiper-theme-color: rgba(249, 33, 33, 0.96);}
