@charset "utf-8";
.container{width:100%; margin: auto;position: relative;background-color: #fff;}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
@keyframes leftSlide{
  from{
    left: -10px;
    opacity: 0;
  }to{
    left: 0px;
    opacity: 1;
  }
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

.nav-container .blink {
  animation: blink-effect 1s step-end infinite;
  background-color: yellow; color: #e73738;
  border-radius: 10px; font-size: 11px; display: block; width: 40px; height: 15px; margin: auto;
}
.nav-container .click{ font-weight: 600;}  

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* header css */
.header-container{width: 100%; border-bottom: 1px solid rgb(120, 120, 120); }
header , section, footer{width: 80%; background-color: #fff;position: relative; margin: auto;}
header{height: 235px;}
header h1{width:300px; height: 60px; color:transparent; background:url(../images/logo.jpg); 
  background-repeat:  no-repeat; background-size: contain; position: relative; top: 40px;}

.nav-container{display:block; border-radius: 20px;}
.search{color: transparent; background-image: url(../images/search.png); background-position: 4px -4px; 
        background-repeat: no-repeat;}

.gnb{display: flex;justify-content: right; }
.gnb>ul{display:flex; justify-content: right;}
.gnb1 li{margin: 5px; font-size: 12px; text-align: center;}
.gnb1 span{width: 5px; height: 5px; padding: 1px 5px; background-color: red; color:#fff; 
  border-radius: 50px; text-align: center;}
.hide{display: none;}
.gnb2 li{font-weight : bold; font-size: 28px;position: relative;top:5px;}
.gnb2 li>span{font-size: 20px;font-weight: 100; margin:0 10px;}

.menuBtn{display: none;}
.menu{padding-top:50px; line-height: 50px; position:relative; z-index: 2; } 
.menu>.mainMenu{display: flex; justify-content: right; }
.mainMenu{font-size: 90%;font-weight: bold; letter-spacing: 0.5px;}
.mainMenu>li>a{padding : 20px 35px 18px 35px;}
.mainMenu li:hover a{background-color: rgb(120, 120, 120); color: #fff;}
.mainMenu li:hover .subMenu{display: block;}
.subMenu{display: none;  background-color: rgb(120, 120, 120); color: #fff; text-align:left; font-size: 13px; line-height: 40px; }
.subMenu li>a{ padding : 10px 35px 10px 35px;}
.subMenu li>a:hover{text-decoration: underline;}




/* section css */
section{background-image: url(/images/underBg.png); background-repeat: no-repeat; background-position: right 5px bottom 70px; height: 100%; margin-bottom: 100px;}
.tabs-container{width: 100%;margin: auto; position: relative;}

.tab-btns{ margin-top:100px; display: flex; list-style-type: none; justify-content: center;
margin-bottom: 30px;}
.tab-btns-box li{width: 80px; height: 50px;margin-right: 60px;}
.tab-btns-box li:nth-last-of-type(1){margin-right: 0;}
.tab-btns-box a{font-size: 16px; display: block; width: 120%; height: 50px;  letter-spacing: 1px; text-align: center; padding-top: 15px;  border-top: 2px solid#e73738; border-bottom: 2px solid#e73738;}
.tab-btns-box a:hover, .tab-btns a.active{background-color: #e9453e;color: #fff; transition: 0.3s; border-radius: 20px;}
.tabs-container h2{padding-left: 10%; line-height: 30px; margin-top: 40px; font-size: 30px; position:relative; animation: leftSlide 2s; } 


.tab-contents-box{border-top: thick double gray; 
border-bottom: thick double gray;
height: 550px;background-color: #fff; margin-top: 30px; } 
.tab-contents-box>.tab-content>.more>a{font-size: 12px;position: absolute; right: 40px; top:470px;}
.tab-contents-box>.tab-content li{list-style-type: disc; list-style-position: inside; padding-left: 20px;}
.tab-content{display: none;  padding: 10px; position: relative; animation: fadeIn 1s;}
.tab-content ul{padding: 30px 50px; }
.tab-content li{line-height: 40px; margin: 5px 100px; border-bottom: 1px solid gray;}
.tab-content span{float: right; color: rgb(104, 103, 103); font-size: 10px; margin: auto 15px;}
.tab-content.active{display: block; }
.tab-content a:hover{text-decoration: underline; text-underline-position: under;}

/* footer */
footer{color: #e73738; }
.footerInfo{margin-bottom: 30px;}
.footerInfo>p, .hours, .footerNav, .serviceGuide { margin-bottom: 20px; font-size: 16px; position: relative;  }
.footerInfo .tel{font-size: 45px; font-weight: 600;}
.footerInfo>p{line-height: 25px;}
.hours, .footerNav ul,.serviceGuide ul {display: flex; gap: 20px; }
footer .hours{font-size: 18px;}
.footerNotice>a{float: right;}
.footerNotice::after{display: block;content:""; clear: right;}
.footerNotice{overflow: auto; line-height: 25px;}
.copyright{background-color: #e73738; color: #fff; display: flex; justify-content: center; width: 100%; 
          font-size: 20px; padding: 20px; margin-top: 0; height: 60px;margin-top: 130px;}
          
/* 반응형CSS */
@media screen and (max-width:1330px) {
  header , .section1 , .section2, .section3, footer{width: 90%;}
  .mainMenu>li>a{padding : 18px 24px 18px 24px;}
  .subMenu{display: none;font-size: 11px; }
  .subMenu li>a{ padding : 10px 10px 10px 25px ;  }
}

@media screen and (max-width:1000px) {
  header ,footer{width: 95%;}
  header{height: 30%;}
  header h1{width:25%; margin: auto; margin-bottom: 40px;}
  
  .nav-container .gnb1{justify-content: right;}
  .gnb2,.menu,.footerNav, .companyInfo,.notice{display: none;}
  .nav-container{display: flex;justify-content: space-between;}
  .menuBtn{width: 40px; height: 40px; display: block; border: none; background-color: transparent; cursor: pointer;
          background-image: url(../images/Menu.png); color: transparent; background-repeat: no-repeat;
          background-size: cover; border-radius: 10px;}
  .menuBtn:hover{background-color:lightgray;}
  .footerInfo ul{display: block; line-height: 30px;}
  .tab-content li{margin:10px;}
  
}
@media screen and (max-width:720px) {
  header, footer{width: 98%;}
  .menuBtn{width: 40px; height: 40px; background-size:contain; margin:10px;}
  header h1{width:80%; text-align:center; margin-left: 23% ;}
  .gnb1,.companyInfo, .footerInfo, .serviceGuide{display: none;}
  .tab-content ul{padding: 30px 0px; }

  
}
@media screen and (max-width:400px) {
  header , footer{width: 100%;}
  .menuBtn{width: 20px; height: 20px; background-size:contain; margin:10px;}
  header h1{width:50%;}
  
  .gnb1,.companyInfo,.footerInfo,.serviceGuide{display: none;}
}